<h1>Posts</h1>

<ul>
  <% @posts.each do |post| %>
    <% unless post.archived? %>
      <li>
        <%= post %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Post", new_post_path %>
<%= link_to "Sign In", new_user_session_path %>
<%= link_to "Sign Up", new_user_registration_path %>
