<main id="main">
  <ul id="grid-container">
    <% @posts.reverse.each do |post| %>
      <li>
        <% if user_signed_in? %>
          <p> Posted by username: <%= current_user.username %> on <%= post.created_at.to_date %></p>
        <% else %>
          <p> Posted by Anonymous User on <%= post.created_at.to_date %></p>
        <% end %>
        <p> <%= post.body %> </p>
      </li>
    <% end %>
  </ul>
</main>
