<main id="main">
  <ul id="grid-container">
    <% @posts.each do |post| %>
      <li>
        <% if user_signed_in? && current_user.id == post.user_id %>
          <p> Author: <%= current_user.username %> </p>
        <% else %>
          <p> Author: Anonymous </p>
        <% end %>

        <p> <%= post.body %> </p>
      </li>
    <% end %>
  </ul>
</main>
