<main id="main">
  <h1>Create new post:</h1>
  <%= form_with model: @post do |form| %>
    <div class='form-row'>
      <%= form.text_area :body, :maxlength => 250, size:"70x5" %>
    </div>
    <div class='form-row'>
      <%= form.submit "Submit", class: "button" %>
    </div>
  <% end %>
</main>
